<template>
  <PopInCommon
    :buttons="buttons"
    :inputs="inputs"
    :text="text"
    @click="click"
  />
</template>

<script>
// @ is an alias to /src
import PopInCommon from "@/components/common/PopInCommon.vue";
import workerInterface from "@/service/workerInterface";

export default {
  name: "PopInResponseNewDevice",
  components: { PopInCommon },
  data: () => ({
    buttons: [],
    inputs: [],
    text: "",
  }),
  methods: {
    click({ key }) {
      workerInterface.postMessage("addFriendResponse", {
        success: key === "accepter",
      });
      this.$data.buttons = [];
      this.$data.text = "";
    },
  },
  created() {
    workerInterface.addEventListener(
      "addFriendRequest",
      ({ detail: { pseudo } }) => {
        this.$data.text = `Demande d'ajout en amie de la par de ${pseudo}`;
        this.$data.buttons = [
          { text: "accepter", key: "accepter" },
          { text: "refuser", key: "refuser" },
          {
            text: "refuser juqu'au prochain redémarage",
            key: "refuserForEver",
          },
        ];
      },
    );
    workerInterface.addEventListener("addFriend", () => {
      this.$data.buttons = [];
      this.$data.text = "";
    });
  },
};
</script>
