<template>
  <PopInCommon
    :buttons="buttons"
    :inputs="inputs"
    :text="text"
    @click="click"
  />
</template>

<script>
// @ is an alias to /src
import PopInCommon from "@/components/common/PopInCommon.vue";
import workerInterface from "@/service/workerInterface";

export default {
  name: "PopInResponseNewDevice",
  components: { PopInCommon },
  data: () => ({
    buttons: [],
    inputs: [],
    text: "",
  }),
  methods: {
    click({ key }, values) {
      workerInterface.postMessage("requestCreateDeviceReponse", {
        success: key === "accepter",
        ...values,
      });
      this.$data.buttons = [];
      this.$data.inputs = [];
      this.$data.text = "";
    },
  },
  created() {
    workerInterface.addEventListener("requestCreateDevice", () => {
      this.$data.text =
        "Un nouveau périphérique demande l'autorisation d'utiliser votre compte";
      this.$data.buttons = [
        { text: "accepter", key: "accepter" },
        { text: "refuser", key: "refuser" },
      ];
      this.$data.inputs = [
        {
          type: "password",
          key: "password",
          placeholder: "Entrer le mot de passe",
        },
      ];
    });
  },
};
</script>
