<template>
  <PopIn v-if="!login" />
  <div class="container epsila_color_fond">
    <div class="pure-g">
      <div id="users" class="pure-u-24-24 pure-u-md-1-5 epsila_color_card">
        <h3 id="titreApp" class="center marginEpsila">
          <div>
            <img
              class="logoEpisila"
              src="@/assets/epsila.png"
              alt="Logo epsila"
            />
          </div>
          <div v-if="login" @click="open_parametre">
            <span class="epsila_green">{{ pseudo }}</span
            >&nbsp;
            <RouterLink to="/setting"><i class="fas fa-cog"></i></RouterLink>
          </div>
        </h3>
        <div id="utilisateurs" class="marginEpsila zoneParametre">
          <div id="listeUtilisateur">
            <h4>Inconnue connecters:</h4>
            <UserItem
              v-for="(item, key) in connects"
              :key="key"
              @click="clickUser(item)"
              :user="item"
              :active="channel && channel.id === item.id"
            />
            <NoUser v-if="Object.keys(connects).length < 1" />
          </div>
          <div id="listeChannel">
            <h4>Channels:</h4>
            <UserItem
              v-for="(item, key) in channels"
              :key="key"
              @click="clickUser(item)"
              :user="item"
              :active="channel && channel.id === item.id"
            />
          </div>
          <div id="listeChannel">
            <h4>Amies:</h4>
            <UserItem
              v-for="(item, key) in friends"
              :key="key"
              @click="clickUser(item)"
              :user="item"
              :active="channel && channel.id === item.id"
            />
          </div>
        </div>
        <button
          class="btn-grad btn-grad_clean epsila_color_btn_alert"
          @click="logout"
        >
          <i class="fa fa-key" aria-hidden="true"></i> Vérouiller
        </button>
        <!--
        <div class="margin_top_2">
          <div @click="exportAccount" class="genNewId">Exporter ma clef</div>
        </div>
        -->
      </div>
      <div id="messages" class="pure-u-24-24 pure-u-md-4-5" v-if="channel">
        <div id="chatName" class="shadown epsila_color_menu">
          <div class="chatName">
            <span @click="return_liste_user" class="buttonBack">
              <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </span>
            <span class="zoneNomUser">
              <span
                :class="{
                  indic: true,
                  online: channel.online,
                  offline: !channel.online,
                }"
              ></span
              >{{ channel.name }}
              <span
                style="cursor: pointer"
                v-if="channel.canAddFriend"
                @click="addFriend"
                >+</span
              >
            </span>
            <span
              class="info_non_chiffrement"
              v-if="channel.encryption == 'none'"
            >
              <i class="fa fa-comments" aria-hidden="true"></i>
              Conversation de groupe non chiffré
            </span>
            <span class="info_chiffrement" v-else>
              <i class="fa fa-key" aria-hidden="true"></i>
              Conversation chiffré de bout en bout partest
              {{ channel.encryption }}
            </span>
          </div>
        </div>
        <div id="chatbox" class="marginEpsila pure-g" ref="chatbox">
          <span>
            {{ channel.description }}
          </span>
          <MessageItem
            v-for="(message, index) in channel.messages"
            :key="index"
            :message="message"
          />
        </div>
        <SendMessage
          :limit="channel.canAddFriend"
          :chat-name="channel.name"
          @sendMessage="sendMessage"
        />
      </div>
      <div id="propos" class="pure-u-24-24 pure-u-md-4-5" v-else>
        <div class="interieur">
          <ProposText />
        </div>
      </div>
    </div>
    <div class="invisible">
      <audio id="notification" controls>
        <source src="../assets/audios/intuition-561.mp3" type="audio/mpeg" />
        <source src="../assets/audios/intuition-561.ogg" type="audio/ogg" />
      </audio>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { LocalNotifications } from "@capacitor/local-notifications";
import { App } from "@capacitor/app";

// @ is an alias to /src
import MessageItem from "@/components/chat/MessageItem.vue";
import UserItem from "@/components/chat/UserItem.vue";
import NoUser from "@/components/chat/NoUser.vue";
import SendMessage from "@/components/chat/SendMessage.vue";
import ProposText from "@/components/common/ProposText.vue";
import PopIn from "@/components/chat/PopIn.vue";
import workerInterface from "@/service/workerInterface";

const { schedule } = LocalNotifications;
const { getState, addListener } = App;

let notificationNumber = 0;

export default {
  name: "ChatPage",
  components: {
    MessageItem,
    SendMessage,
    UserItem,
    NoUser,
    PopIn,
    ProposText,
  },
  data: () => ({
    channel: undefined,
    messages: {},
  }),
  computed: mapState([
    // map this.login to store.state.login
    "login",
    "pseudo",
    "id",
    "channels",
    "connects",
    "friends",
  ]),
  methods: {
    addFriend() {
      workerInterface.postMessage("addFriend", {
        destinations: Object.keys(this.channel.users),
      });
    },
    logout() {
      this.$store.commit("logout");
      workerInterface.postMessage("logout");
      this.$data.channel = undefined;
    },
    return_liste_user() {
      masquerDiscution();
    },
    sendMessage(message) {
      workerInterface.postMessage("sendMessage", {
        idChannel: this.channel.id,
        destinations: Object.keys(this.channel.users),
        message,
        channelType: this.channel.channelType,
      });
      switch (this.channel.channelType) {
        case "internal":
        case "general":
          this.$store.commit("channels/message", {
            idChannel: this.channel.id,
            name: this.pseudo,
            idUser: this.id,
            message,
            correspondant: false,
          });
          break;
        case "unknown":
          this.$store.commit("connects/message", {
            idChannel: this.channel.id,
            name: this.pseudo,
            idUser: this.id,
            message,
            correspondant: false,
          });
          break;
        case "friend": {
          this.$store.commit("friends/message", {
            idChannel: this.channel.id,
            name: this.pseudo,
            idUser: this.id,
            message,
            correspondant: false,
          });
        }
      }

      setTimeout(() => {
        this.$refs.chatbox.scroll({
          top: this.$refs.chatbox.scrollHeight,
          behavior: "smooth",
        });
      }, 0);
    },
    clickUser(channel) {
      this.channel = channel;
      setTimeout(() => {
        this.$refs.chatbox.scroll({
          top: this.$refs.chatbox.scrollHeight,
          behavior: "smooth",
        });
      });
      masquerListeUtilisateur();
      this.$store.commit("selectChannel", { channel });
    },
  },
  created() {
    addListener("resume", () => {
      document.title = "Epsila";
    });
    workerInterface.addEventListener("delConnecter", (e) => {
      if (
        this.channel &&
        this.channel.id === e.detail &&
        this.channel.channelType === "unknown"
      ) {
        this.channel = undefined;
      }
    });
    workerInterface.addEventListener("addFriend", () => {
      this.$data.channel = undefined;
    });
    workerInterface.addEventListener("messageMP", async (e) => {
      if (!(await getState()).isActive) {
        document.title = "Nouveau message !  Epsila";
        notificationNumber = +1;
        schedule({
          notifications: [
            {
              id: notificationNumber,
              title: "Nouveau message",
              body: `Nouveau message de ${this.connects[e.detail.idChannel].name}`,
            },
          ],
        });
      }
      if (this.channel && this.channel.id === e.detail.idChannel) {
        setTimeout(() => {
          this.$refs.chatbox.scroll({
            top: this.$refs.chatbox.scrollHeight,
            behavior: "smooth",
          });
        }, 0);
      }
    });
    workerInterface.addEventListener("message", async (e) => {
      if (!(await getState()).isActive) {
        document.title = "Nouveau message ! Epsila";
        notificationNumber = +1;

        schedule({
          notifications: [
            {
              id: notificationNumber,
              title: "Nouveau message",
              body: `Nouveau message de ${this.channels[e.detail.idChannel].name}`,
            },
          ],
        });
      }
      if (this.channel && this.channel.id === e.detail.idChannel) {
        setTimeout(() => {
          this.$refs.chatbox.scroll({
            top: this.$refs.chatbox.scrollHeight,
            behavior: "smooth",
          });
        }, 0);
      }
    });
  },
};

function masquerListeUtilisateur() {
  const users_scope = document.getElementById("users");
  const messages_scope = document.getElementById("messages");
  if (users_scope !== null) {
    users_scope.classList.add("masque_mobil");
  }
  if (messages_scope !== null) {
    messages_scope.classList.remove("masque_mobil");
  }
}
function masquerDiscution() {
  const messages_scope = document.getElementById("messages");
  const users_scope = document.getElementById("users");
  if (messages_scope !== null) {
    messages_scope.classList.add("masque_mobil");
  }
  if (users_scope !== null) {
    users_scope.classList.remove("masque_mobil");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#users {
  overflow: hidden;
  transition-duration: 500ms;
}

.channel {
  background-color: hsl(209deg 26% 33%);
  padding: 0.5rem 0rem 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
  position: relative;
}
.channel:hover {
  background-color: hsl(209deg 26% 36%);
}
#messages {
  transition-duration: 500ms;
}
.selected {
  background-color: #ddd;
  color: hsl(209deg 26% 22%);
}
.selected:hover {
  background-color: #ebebeb;
}
#listeUtilisateur,
#listeChannel {
  max-height: 15rem;
}

.hide {
  display: none;
}

#openReglage i {
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}
#openReglage i:hover {
  transform: rotate(360deg);
}
#closeReglage {
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}
#closeReglage:hover {
  transform: rotate(-360deg);
}

#chatbox {
  overflow-x: auto;
  height: calc(100vh - 220px);
}

.marginEpsila {
  margin: 0.5rem;
}
fieldset {
  border: 2px solid #3f556a;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.center {
  text-align: center;
}

#chatName {
  padding: 0.5rem;
  font-weight: bold;
}

#btnOpenMessages {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.blur {
  filter: blur(0px);
  cursor: pointer;
}
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgb(40 54 67);
  border: none transparent;
  background-color: #dddddd;
  text-decoration: none;
  border-radius: 3rem;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blur {
    filter: blur(4px);
    cursor: pointer;
  }
}
@media screen and (min-width: 767px) {
  #btnOpenMessages {
    display: none;
  }
}
.invisible {
  display: none;
}
.zoneNomUser {
  margin-left: 2em;
}
.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.shadown {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.center {
  text-align: center;
}
.chatName {
  padding: 0.5rem 1rem;
}
.info_chiffrement {
  background-color: #02b77b57;
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
  font-size: 0.7em;
}
.info_non_chiffrement {
  background-color: #f436365e;
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
  font-size: 0.7em;
}
</style>
