<template>
  <div class="container epsila_color_fond">
    <div class="pure-g">
      <div id="login" class="pure-u-24-24 pure-u-md-1-5 epsila_color_card">
        <FromAccount @createAccount="createAccount" :waiting="waiting" />
      </div>
      <div class="pure-u-24-24 pure-u-md-4-5">
        <div class="interieur">
          <ProposText />
        </div>
      </div>
      <PopInCommon :buttons="buttons" :text="text" @click="click" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import FromAccount from "@/components/createAccount/FromAccount.vue";
import ProposText from "@/components/common/ProposText.vue";
import PopInCommon from "@/components/common/PopInCommon.vue";
import workerInterface from "@/service/workerInterface";

import { Device } from "@capacitor/device";
import { UAParser } from "ua-parser-js";

const getName = async () => {
  const info = await Device.getInfo();
  let name = info.name;
  if (!name) {
    const arrayName = [];

    var parser = new UAParser();
    const device = parser.getDevice();
    if (device.model) {
      arrayName.push(device.model);
    }
    const os = parser.getOS();
    if (os.name) {
      arrayName.push(os.name);
    }
    const browser = parser.getBrowser();
    if (browser.name) {
      arrayName.push(browser.name);
    }
    name = arrayName.join(" ");
  }
  return name;
};
export default {
  name: "CreateAccountPage",
  components: {
    FromAccount,
    ProposText,
    PopInCommon,
  },
  data: () => ({
    waiting: false,
    text: "",
    pseudo: "",
    password: "",
    buttons: [],
    idDistant: "",
  }),
  methods: {
    async createAccount(data) {
      this.$data.waiting = true;

      workerInterface.postMessage("createAccount", {
        name: await getName(),
        ...data,
      });
    },
    async click(button) {
      console.log(button);
      switch (button.key) {
        case "cancel":
          this.text = "";
          this.buttons = [];
          break;
        case "created":
          this.text = "Demande transmise au compte principal";
          this.buttons = [];
          workerInterface.postMessage("requestCreateDevice", {
            pseudo: this.$data.pseudo,
            password: this.$data.password,
            idDistant: this.$data.idDistant,
            name: await getName(),
          });
          break;

        default:
      }
    },
  },
  created() {
    workerInterface.addEventListener("requestCreateDeviceReponse", (e) => {
      if (e.detail.success) {
        this.$router.replace({ name: "Chat" });
      } else {
        this.text = e.detail.passwordWrong
          ? "Mots de passe incorrecte"
          : "La demande a été refusé";

        this.buttons = [{ text: "OK", key: "cancel" }];
      }
    });

    workerInterface.addEventListener("createAccount", (e) => {
      this.$data.waiting = false;
      this.$data.pseudo = e.detail.pseudo;
      this.$data.password = e.detail.password;
      if (e.detail.success) {
        this.$router.replace({ name: "Chat" });
      } else if (e.detail.idDistant) {
        this.$data.idDistant = e.detail.idDistant;
        this.text =
          "L'identidiant est déjà utilisé mais si vous êtes le propriétaire, vous pouvez demander la création d’un nouveau périphérique";
        this.buttons = [
          { text: "Je ne suis pas le propriétaire", key: "cancel" },
          { text: "Je veux créé un nouveau périphérique", key: "created" },
        ];
      } else {
        this.text =
          "L'identifiant existe déjà ! Si vous êtes le propriétaire de ce compte il est nécessaire que vous connectez votre périphérique initial avant de connecter un nouvel appareil";
        this.buttons = [{ text: "OK", key: "cancel" }];
      }
    });
  },
};
</script>
