<template>
  <div class="privacy-policy">
    <h1>Règles de Confidentialité d'Epsila</h1>
    <p>
      <strong>Dernière mise à jour : {{ lastUpdated }}</strong>
    </p>

    <h2>1. Collecte de données</h2>
    <p>
      Epsila collecte uniquement les pseudonymes des utilisateurs lors de leur
      inscription, sans autres informations personnelles.
    </p>

    <h2>2. Utilisation des données</h2>
    <p>
      Les données collectées (pseudonymes) ne sont pas utilisées à des fins
      commerciales, d’analyse, ou pour toute autre exploitation.
    </p>

    <h2>3. Partage de données</h2>
    <p>
      Epsila ne partage aucune donnée avec des tiers. La confidentialité de vos
      informations est notre priorité.
    </p>

    <h2>4. Stockage des données</h2>
    <p>
      Les messages sont chiffrés côté client et stockés temporairement sur nos
      serveurs jusqu’à ce que l'utilisateur soit connecté. Une fois connecté,
      les messages sont immédiatement envoyés à l'utilisateur et supprimés de
      nos serveurs.
    </p>

    <h2>5. Droits des utilisateurs</h2>
    <p>
      Les utilisateurs ont le droit de supprimer leur compte à tout moment.
      Cette action entraînera la suppression définitive de toutes les données
      associées, tant sur le client que sur le serveur.
    </p>

    <h2>6. Sécurité des données</h2>
    <p>
      Nous utilisons des protocoles de chiffrement robustes (AES ou RSA) pour
      garantir la sécurité de vos données pendant leur transmission et leur
      stockage.
    </p>

    <h2>7. Modifications des règles de confidentialité</h2>
    <p>
      Nous nous réservons le droit de modifier ces règles à tout moment. Les
      utilisateurs sont encouragés à consulter régulièrement cette page pour
      rester informés des éventuelles mises à jour.
    </p>

    <h2>8. Âge des utilisateurs</h2>
    <p>
      Epsila est destiné aux personnes de 18 ans et plus. Nous ne garantissons
      pas de modération sur les échanges.
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lastUpdated: "2024-09-27", // Remplace par la date actuelle ou dynamique
    };
  },
};
</script>

<style scoped>
.privacy-policy {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}
h1,
h2 {
  color: #333;
}
p {
  color: #555;
}
</style>
