<template>
  <div class="container epsila_color_fond">
    <RouterLink :to="{ name: 'Chat' }"><i class="fas fa-cog"></i></RouterLink>
    <h3>Liste des périphériques</h3>
    <table>
      <tr>
        <th>ce périphérique</th>
        <th>est connecté</th>
        <th>Identifiant Unique</th>
        <th>Nom</th>
        <th>Action</th>
      </tr>
      <tr v-for="(device, index) in devices" :key="index">
        <td><i v-if="index === id" class="fas fa-check"></i></td>
        <td>
          <i v-if="device.isConnect || index === id" class="fas fa-check"></i>
        </td>
        <td>{{ index }}</td>
        <td
          v-if="index !== selectIdDevice"
          class="click_element"
          @click="showInput(index)"
        >
          {{ device.name }}
        </td>
        <td v-if="index === selectIdDevice">
          <input
            ref="inputDevice"
            @keypress.enter="saveName"
            @focusout="saveName"
            autofocus="autofocus"
            type="text"
            v-model="device.name"
          />
        </td>
        <td>
          <button v-if="index !== id" @click="delDevice(device.id)">
            <i class="fa fa-eraser" aria-hidden="true"></i>Supprimer
          </button>
        </td>
      </tr>
    </table>
    <h3>Liste des amie</h3>
    <table>
      <tr>
        <th>est connecté</th>
        <th>Identifiant Unique</th>
        <th>Pseudo</th>
        <th>Action</th>
      </tr>
      <tr v-for="(friend, index) in friends" :key="index">
        <td>
          <i v-if="friend.online" class="fas fa-check"></i>
        </td>
        <td>{{ index }}</td>
        <td>
          {{ friend.name }}
        </td>
        <td>
          <!-- <button v-if="index !== id" @click="delDevice(device.id)">
            <i class="fa fa-eraser" aria-hidden="true"></i>Supprimer
          </button> -->
        </td>
      </tr>
    </table>
    <p>Identifier du compte: {{ idAccount }}</p>
    <button
      class="btn-grad btn-grad_clean epsila_color_btn_alert"
      @click="clean"
    >
      <i class="fa fa-trash" aria-hidden="true"></i>
      Supprimer toutes les données de ce navigateur (cela va immédiatement vous
      déconnecter)
    </button>
    <button
      class="btn-grad btn-grad_clean epsila_color_btn_alert"
      @click="requestPermissions"
      v-if="checkPermissions !== 'granted'"
    >
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Autorisé epsila a affiché des notifications{{ checkPermissions }}
    </button>
  </div>
</template>

<script>
import { nextTick } from "vue";
import { mapState } from "vuex";
import { LocalNotifications } from "@capacitor/local-notifications";

import workerInterface from "@/service/workerInterface";

const { checkPermissions, requestPermissions } = LocalNotifications;

export default {
  name: "SettingPage",
  computed: mapState(["devices", "id", "idAccount", "friends"]),
  data: () => ({
    selectIdDevice: "",
    name: "",
    checkPermissions: "",
  }),
  async created() {
    this.$data.checkPermissions = (await checkPermissions()).display;
  },
  methods: {
    async showInput(index) {
      this.selectIdDevice = index;
      await nextTick();
      this.$refs.inputDevice[0].focus();
    },
    async saveName() {
      workerInterface.postMessage("putDevice", {
        id: this.devices[this.selectIdDevice].id,
        name: this.devices[this.selectIdDevice].name,
      });

      this.selectIdDevice = "";
    },
    async delDevice(id) {
      workerInterface.postMessage("delDevice", { id });
      this.$store.commit("devices/delDevice", { id });
    },
    clean() {
      workerInterface.postMessage("clean");
    },
    async requestPermissions() {
      console.log(this.$data);
      this.$data.checkPermissions = (await requestPermissions()).display;
      console.log(this.$data.checkPermissions);
    },
  },
};
</script>
<style scoped>
.click_element {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}
.click_element:hover {
  background-color: #2d3e4f;
}
table {
  border-collapse: collapse;
}
td,
th {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
</style>
