<template>
  <div v-if="text" class="pure-u-24-24 container modal">
    <div class="modal-content interieur">
      <div class="">
        <img class="logoEpisila" src="@/assets/epsila.png" alt="Logo epsila" />
      </div>
      <div class="center white-text verouille">{{ text }}</div>
      <div class="margin_top_1 center">
        <input
          v-for="input in inputs"
          :key="input.key"
          v-model="input.value"
          :type="input.type || 'text'"
          :placeholder="input.placeholder"
          required="required"
        />
      </div>
      <div class="margin_top_2">
        <button
          v-for="button in buttons"
          :key="button.key"
          @click="click(button)"
          :disabled="button.disabled"
          class="btn-grad btn_login"
        >
          {{ button.text }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "PopInCommon",
  props: {
    text: {
      type: String,
      required: true,
    },
    buttons: {
      type: Array,
      required: true,
    },
    inputs: {
      type: Array,
      default: () => [],
    },
  },
  emits: ["click"],
  methods: {
    click(button) {
      const value = this.inputs.reduce((accu, input) => {
        accu[input.key] = input.value;
        return accu;
      }, {});
      this.$emit("click", button, value);
    },
  },
};
</script>

<style scoped>
input {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  text-align: center;
}
</style>
