<template>
  <div class="epsila_card epsila_color_card">
    <h2>Hello 👋</h2>
    <p>
      Bienvenue sur &epsilon;psila, votre messagerie anonyme chiffrée et open
      source 🥷
    </p>
    <div class="separate"></div>
    <h4>Principe</h4>
    <p>
      Sur les messageries les plus communes, votre vie privée est analysée,
      stockée et interceptée par des entreprises, gouvernement, pirates et
      fournisseurs d’accès Internet
    </p>
    <p>
      Envie de vie privée ? &epsilon;psila est certainement l'outil de
      messagerie qu'il vous faut 😊! c'est gratuit et totalement open source,
      vos messages ne seront jamais enregistrés chez nous, et seul votre
      correspondant recevra et pourra dechiffrer vos messages 💬🔐
    </p>
    <p>
      Lorsque vous dites « le droit à la vie privée ne me préoccupe pas, parce
      que je n'ai rien à cacher », cela ne fait aucune différence avec le fait
      de dire « Je me moque du droit à la liberté d'expression parce que je n'ai
      rien à dire ».
      <span class="italique">Edward Snowden</span>
    </p>

    <div class="separate"></div>
    <h4>Comment ça marche ?</h4>
    <p>
      Apres avoir rentré votre pseudo, l'appli se charge de créer deux clefs de
      chiffrements qui vont être utilisées pour chiffrer et dechiffrer vos
      differents messages avec vos correspondants, &epsilon;psila de son coté
      est chargé de transmettre les messages chiffrés a leurs destinataires sans
      jamais lire / stocker / analyser les communications.
    </p>

    <div class="separate"></div>
    <h4>Cryptographie asymétrique</h4>
    <p>
      La cryptographie asymétrique est un procédé qui intègre deux clés de
      chiffrement, une clé publique et une clé privée. Par convention, la clé de
      chiffrement du message est appelée clé publique (et peut-être communiquée
      sans restriction aucune), et la clé de déchiffrement du message est
      appelée clé privée. Cette dernière ne doit être communiquée sous aucun
      prétexte.
    </p>

    <div class="separate"></div>
    <h4>Un droit français</h4>
    <p>
      La notion même de secret a très tôt fait l’objet d’une attention et d’un
      encadrement spécifiques. En 1789, les articles 2 et 4 de la Déclaration
      des Droits de l’Homme et du Citoyen – qui font toujours référence dans la
      jurisprudence actuelle – énoncent entre autres droits fondamentaux la
      liberté et la sûreté, qui recouvrent évidemment le droit au secret pour
      chacun, pourvu que sa jouissance n’entrave pas la liberté d’autrui dans
      les mêmes termes.
    </p>
    <p>
      Art. 1er. Les hommes naissent et demeurent libres et égaux en droits. Les
      distinctions sociales ne peuvent être fondées que sur l'utilité commune.
    </p>
    <p>
      Art. 2. Le but de toute association politique est la conservation des
      droits naturels et imprescriptibles de l'Homme. Ces droits sont la
      liberté, la propriété, la sûreté, et la résistance à l'oppression.
    </p>
    <p>
      Art. 3. Le principe de toute Souveraineté réside essentiellement dans la
      Nation. Nul corps, nul individu ne peut exercer d'autorité qui n'en émane
      expressément.
    </p>
    <p>
      Art. 4. La liberté consiste à pouvoir faire tout ce qui ne nuit pas à
      autrui : ainsi, l'exercice des droits naturels de chaque homme n'a de
      bornes que celles qui assurent aux autres Membres de la Société la
      jouissance de ces mêmes droits. Ces bornes ne peuvent être déterminées que
      par la Loi.
    </p>
  </div>
</template>
<style media="screen">
.separate {
  margin-top: 3rem;
}
.italique {
  font-style: italic;
}
</style>
